@font-face {
    font-family: poppins-regular;
    src: url(Fontes/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-extrabold;
    src: url(Fontes/Poppins/Poppins-ExtraBold.ttf);
}
@font-face {
    font-family: poppins-bold;
    src: url(Fontes/Poppins/Poppins-Bold.ttf);

}



*{
    margin:0;
    padding: 0;
}
body{
    background-color: black;
    height: 100vh;
    color: white;
}
main{
    margin-left: 220px;
    margin-right: 220px;

}
.glitter > .container_um{
    display: flex;
    justify-content: end;
    align-items: start;
    margin-top: -150px;
    height: 120px;
    

}
.glitter > .container_um > .um{
    height: 1070px;

}

.glitter > .container_dois{
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: -150px;
    height: 150px;
    
}


.container_logo{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.pagina1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}
.main_text{
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px; 
}    
.main_text > h1{
    font-family: poppins-bold;
    line-height: 98%;
    font-size: 25px;
}
.main_text > p{
    font-family: poppins-regular;
    line-height: 125.3%;
    font-size: 18px;

}
.main_text > p span{
    font-family: poppins-bold;
}
.main_text > button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #302B66;
    border: none;
    border-radius: 15px;
    width: 440px;
    color: white;
    font-family: poppins-bold;
    font-size: 20px;
    text-shadow: 0px 4px 10px rgb(0, 0, 0);
    height: 70px;
    cursor: pointer;
    box-shadow: 0px 4px 45px rgb(48, 43, 102);



}
.main_text > button img{
    margin-left: -55px;
    transform: scale(.85);
    margin-right: 10px;
}
.main_text > button:hover{
    background: rgb(48,43,102);
    background: linear-gradient(90deg, rgba(48,43,102,1) 0%, rgba(56,12,69,1) 100%);
}
.foto_mariana{
    height: 850px;
    margin-right: -125px;
    margin-top: -40px;
}
.titulo_p2{
    display: flex;
    justify-content: center;
    margin-bottom: 28px;
}
.titulo_p2 span{
    font-family: poppins-bold;
    font-size: 25px;

}



.pagina2_benef{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    gap: 21px;

}
.pagina2_benef > .container_beneficios{
    height: 300px;
    width: 455px;
    background-image: url(Imagens/beneficiosimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 115%;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    padding: 49px;
    padding-bottom: 35px;
    text-align: center;
    margin-bottom: 100px;

}

.pagina2_benef > .container_beneficios > span{
    font-family: poppins-bold;
    font-size: 25px;
    line-height: 98%;
    text-shadow: 0px 4px 10px rgb(0, 0, 0);
}
.pagina2_benef > .container_beneficios{
    line-height: 98%;
    font-size: 19px;
    font-family: poppins-regular;
    text-shadow: 0px 4px 10px rgb(0, 0, 0);
    margin-bottom: 100px;

   

}
.pagina2_benef > .container_beneficios:hover{
    background: rgb(48,43,102);
    background: linear-gradient(90deg, rgba(48,43,102,1) 0%, rgba(56,12,69,1) 100%);
}

.titulo_p3{
    display: flex;
    justify-content: center;
    padding-left: 390px;
    padding-right: 390px;

}
.titulo_p3 span{
    font-family: poppins-bold;
    font-size: 25px;
    text-align: center;
    line-height: 98%;


}
.pagina3_makeup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.make1{
    height: 1220px;
    width: 1220px;
    background-image: url("Imagens/make1.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -190px;
    margin-left:-250px ;
}
.make2{
    height: 700px;
    width: 700px;
    background-image: url("Imagens/make2.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -250px;
    margin-left:-220px ;

}
.span_make2{
    display: flex;
    justify-content: center;
    margin-top: 250px;


}

.span_make2 > span{
    width: 420px;
    font-family: poppins-bold;
    font-size: 25px;
    line-height: 98%;
    text-shadow: 0px 4px 5px rgb(0, 0, 0);
    margin-bottom: 10px;
   

}
.make2 > p{
    line-height: 98%;
    font-size: 19px;
    font-family: poppins-regular;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
    backdrop-filter: blur(6px);
    border-radius: 100px; 
    text-align: center;
    width: 450px;

}

.pagina3_lash {
    display: flex;
    margin-top:-350px;
    margin-bottom: 550px;
  }
  
  .texto_lash{
    position: absolute;
    top: 325%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 450px;
  }

  .texto_lash > span{
    font-family: poppins-bold;
    font-size: 25px;
    line-height: 98%;
    text-shadow: 0px 4px 10px rgb(0, 0, 0);

}
 .texto_lash > p{
    margin-top: 10px;
    line-height: 98%;
    font-size: 19px;
    font-family: poppins-regular;
    text-shadow: 0px 4px 10px rgb(0, 0, 0);
    text-align: center;

}

  .lash1 {
   
    position: absolute;
    left: 0;
    width: 42%;
    margin-left: -80px;

  }

  
  .lash2 {
    
    position: absolute;
    right: 0;
    width: 50%;
    margin-top:-170px;
  }
  


.pagina3_hair{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.hair1{
    height: 1220px;
    width: 1220px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -190px;
    margin-left:-250px ;
}
.hair2{
    height: 700px;
    width: 700px;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -250px;
    margin-left:-220px ;

}
.span_hair2{
    display: flex;
    justify-content: center;
    margin-top: 250px;


}

.span_hair2 > span{
    width: 420px;
    font-family: poppins-bold;
    font-size: 25px;
    line-height: 98%;
    text-shadow: 0px 4px 5px rgb(0, 0, 0);
    margin-bottom: 10px;
   

}
.hair2 > p{
    line-height: 98%;
    font-size: 19px;
    font-family: poppins-regular;
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
    backdrop-filter: blur(6px);
    border-radius: 100px; 
    text-align: center;
    width: 450px;

}
