@media screen and (max-width: 2048px) and (min-width: 1550px){
    .main_text{
        width: 450px;
    }    
    .main_text > p{
        width: 420px;
    }
    .pagina2_benef > .container_beneficios{
        height: 300px;
        width: 255px;
        margin-bottom: 100px;
    
    }
    .pagina3_lash {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top:-330px;
        margin-bottom: 800px;
      }
      .texto_lash{
        top: 255%;       
      }
    
    .lash1{
        margin-top:90px;

    }
 
    .hair2{
        margin-top: -100px;
        margin-left: 50px;
    
    }
    .container_avatar  img{
        height: 75%;
        width:75%;
    
    }
    .video{
        width: 450px;
        height: 673px;
        margin-left: -200px;
 
    
    }
}
@media screen and (max-width: 1530px) and (min-width: 1440px){
    .main_text{
        width: 450px;
    }    
    .main_text > p{
        width: 420px;
    }
    .pagina2_benef > .container_beneficios{
        height: 300px;
        width: 255px;
        margin-bottom: 100px;
    
    }
    .pagina3_lash {
        margin-top:-330px;
        margin-bottom: 800px;
      }
      .texto_lash{
        top: 255%;       
      }
    
    .lash1{
        margin-top:90px;

    }
 
    .hair2{
        margin-top: -100px;
        margin-left: 50px;
    
    }
    .container_avatar  img{
        height: 75%;
        width:75%;
    
    }
    .video{
        width: 450px;
        height: 673px;
        margin-left: -200px;
 
    
    }
}

@media screen and (max-width: 1444px) and (min-width: 1340px){
    .pagina2_benef > .container_beneficios{
        padding: 39px;
        margin-bottom: 100px;
    }

    .titulo_p3{
        display: flex;
        justify-content: center;
        padding-left: 350px;
        padding-right: 350px;
    
    }
    .make2{
        height: 600px;
        width: 650px;
    }

    .texto_lash{
        top: 240%;       
      }
    .hair1{
        height: 600px;
        width: 850px;
    }

    .hair2{
        margin-top: -150px;
        height: 650px;
        width: 750px;
    }
    .video{
        width: 450px;
        height: 530px;

    }
}
@media screen and (max-width: 1339px) and (min-width: 1210px){
    
    .pagina2_benef > .container_beneficios{
        height: 325px;
        width: 450px;
        background-size: 205%;
        border-radius: 21px;
        gap: 25px;
        padding: 25px;
        padding-bottom: 25px;
        text-align: center;
        margin-bottom: 100px;
    }
    .titulo_p3{
        padding-left: 280px;
        padding-right: 280px;
    }
    .make1{
        height: 920px;
        width: 920px;
    }
    .make2{
        height: 500px;
        width: 550px;
        margin-right:-150px ;
    }
    .span_make2{
        margin-top: 190px;
    }
    .pagina3_lash {
        margin-top:-230px;
        margin-bottom: 630px;
    }
    .texto_lash{
        top: 275%;       
      }
    .lash2 {
        right: 0;
        width: 50%;
        margin-top:-130px;
        margin-right:-50px;
      }
      .hair2{
        margin-top: -150px;
        height: 650px;
        width: 750px;
    }
    .video{
        height: 480px;
    }

}
/* @media screen and (max-width: 1339px) and (min-width: 1024px){
    .pagina1{
        transform: scale(.85);
    }
    .pagina2{
        margin-top: -100px;
    }
    .pagina2_benef{
        margin-top: 120px;
        transform: scale(1.45);
        gap: 10px;
    }
    .pagina2_benef > .container_beneficios{
        height: 225px;
        width: 455px;
        background-size: 205%;
        border-radius: 21px;
        gap: 25px;
        padding: 25px;
        padding-bottom: 35px;
        text-align: center;
        margin-bottom: 100px;
    
    }
    .pagina2_benef > .container_beneficios > span{
        font-family: poppins-bold;
        font-size: 15px;
        line-height: 98%;
        text-shadow: 0px 4px 10px rgb(0, 0, 0);
    }
    .pagina2_benef > .container_beneficios > p{
        font-family: poppins-regular;
        font-size: 14px;
        line-height: 98%;
    }
    .titulo_p3{
        padding-left: 150px;
        padding-right: 150px;
    }
    .make1{
        height: 920px;
        width: 920px;
    }
    .make2{
        height: 500px;
        width: 550px;
        margin-right:-150px ;
    }
    .span_make2{
        margin-top: 150px;
    }
    .pagina3_lash {
        margin-top:-230px;
        margin-bottom: 630px;
    }
    .texto_lash{
        top: 205%;       
      }
    .lash2 {
        right: 0;
        width: 50%;
        margin-top:-130px;
        margin-right:-50px;
      }

} */


/* tablet */
@media screen and (max-width: 884px) and (min-width: 800px) {
    
}




/* celular */
@media screen and (max-width: 430px) and (min-width: 320px) {
    .glitter > .container_um{
        display: flex;
        justify-content: end;
        align-items: start;
        margin-top: -150px;
        height: 120px;
        
    
    }
    .glitter > .container_um > .um{
        height: 1000px;
        width: 500px;
        overflow-x: hidden;
    
    }
    
    .glitter > .container_dois{
        display: none;
       
    }
    body{
        height: 100vh;

    }

    main{
        overflow-x: hidden;
        margin-left: 0px;
        margin-right:0px;

    }
    header figure img{
        z-index: 1;
        height: 25%;
        width: 25%;
    }
    .container_logo{
     
        padding-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    .pagina1{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .foto_mariana{
        height: 640px;
        margin-left: -80px;
        margin-top: 40px;
    }
    .main_text{
        width: 90%;
        margin-top: -210px;
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 10px; 
    } 
    .main_text > h1{
        font-size: 23px;
    }
    .main_text > p{
        width: 280px;
    }
    .main_text > button{
        margin-top: 10px;
        border-radius: 15px;
        width: 330px;
        color: white;
        font-family: poppins-bold;
        font-size: 18px;
        height: 70px;

    
    
    
    }
    .main_text > button img{
        margin-left: -35px;
        transform: scale(.65);
        margin-right: -10px;
    }

    .pagina2{
        margin-top: -170px;
    }
    .pagina2_benef{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        gap: 20px;
    
    }
    .pagina2_benef > .container_beneficios{
        height: 300px;
        width: 255px;
        display: flex;
        flex-direction: column;
        gap: 45px;
        padding: 49px;
        padding-bottom: 35px;
        text-align: center;
        margin-bottom: 0;
    
    }

    .titulo_p3{
        margin-top: 45px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-left: 40px;
        padding-right: 40px;
    
    }
    .pagina3_makeup{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .make1{
        height: 650px;
        width: 650px;
        margin-top: -90px;
        margin-left: 200px ;
    }
    .make2{
        height: 550px;
        width: 550px;
        margin-top: 50px;
        margin-left:100px ;
    
    }
    .span_make2{
        display: flex;
        justify-content: center;
        margin-top: -130px;
    }
    .span_make2 > span{
        width: 400px;
        margin-bottom: 10px;
    
    }
    .make2 > p{
        backdrop-filter: none;
        border-radius: 0; 
        text-align: center;
        font-size: 17px;
        width: 310px;
        margin-left:75px ;
    }
    .pagina3_lash {
      
        margin-top:0;
        margin-bottom: 1000px;
      }
    
      .lash1 {
        position: none;
        left: none;
        height: 550px;
        width: 550px;
        margin-top: 140px;
        margin-left: -180px;
    
      }
      .lash2 {
       display: none;
      }

      .texto_lash{
        position: relative;
        top: none;
        left: none;
        z-index: 1;
        transform: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 250px;
        width: 450px;
        margin-top: 10px;
        margin-left: 10px;

      }
      .texto_lash p{
        margin-top: 10px;
        margin-left: 0px;
        line-height: 98%;
        font-size: 19px;
        font-family: poppins-regular;
        text-align: center;
        width: 320px;

      }

    .pagina3_hair{
        margin-top: -270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -190px;
    
    }
    
    .hair1{
        height: 470px;
        width: 470px;
        z-index: 0;
        margin-top: -300px;
        margin-left:0px ;
    }
    .hair2{
        display:none;
    }

    .span_hair1{
        display: flex;
        justify-content: center;
        margin-top: -120px;

    
    }
    .span_hair1 > span{

        width: 400px;
        text-align: center;
        margin-left: 25px;
       
    
    }
    .p_hair1{
        display: flex;
        justify-content: center;

    }
    
    .p_hair1 > p{
        line-height: 98%;
        font-size: 19px;
        text-align: center;
        width: 325px;
        margin-left: 15px;

    
    }
    .blur,.blur2{
        margin-top: 120px;
        z-index: 100;
        border-radius: 70px;
        background: linear-gradient(91deg, #302B66 30.21%, #380C45 55.37%);
        filter: blur(45px);
        width: 392px;
        height: 80px;
        position: absolute;
        right: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    
    }
    .blur2{
        margin-top: 20px;

    }
    .cta_pagina3{
        margin-top: 120px;
        font-family: poppins-bold;
        font-size: 18px;
        width: 220px;
        text-align: center;
        z-index: 100;
        position: absolute;
        right: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .cta_pagina6{
        margin-top: 35px;
        font-family: poppins-bold;
        font-size: 18px;
        line-height: 98%;
        width: 300px;
        text-align: center;
        z-index: 100;
        position: absolute;
        right: 50px;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .pagina4{
        margin-top: 220px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .feedback{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
       
    
    }
    .feedbacks{
        width: 330px;
        height: 480px;
        background-image: url("Imagens/feedbackcor.png");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;

    }
    #feedback2{
        display: none;
    }
    .feedbacks p{
        flex: 1;
        text-align: center;
        padding: 40px;
        font-family: poppins-regular;
        font-size: 18px;
        line-height: 98%;
    }
    .fotocliente{
        border-radius: 100%;
        background-color: white;
        height: 100px;
        width:100px;
        margin-top: 35px;
        margin-left: 0px;
        box-shadow: 0px 4px 70px rgb(0, 0, 0);
    
    
    }
    .pagina5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    
    }
    .container_avatar img{
        height: 100%;
        width:100%;
    
    }
    .video{
        width: 330px;
        height: 600px;
      
    }

    .pagina6 figure img{
        height: 100%;
        width: 80%;
        margin-left: 20px;
        margin-top: 120px;
        margin-bottom: 50px;
    
    }
    .pagina6 > div button{
        margin-top: 10px;
        border-radius: 15px;
        width: 330px;
        color: white;
        font-family: poppins-bold;
        font-size: 18px;
        padding-right: 15px;
        line-height: 98%;
        height: 70px;

    }
  
    .pagina6 > div button img{
        margin-left: 2px;
        transform: scale(.65);
        margin-right: -45px;
    }
    footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-top: 15px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        height: 100px;
        gap: 5px;
        font-family: poppins-bold;
        font-size: 10px;
        
    }
    footer figure img{
        width: 90%;     
        height: 90%;

    }

    
    
  
      
}
